/*make the welcome to Pizza Worl!  text transparent*/
/*and centered*/
h1 {
    /*display: flex;*/
    background-color: rgba(255,255,255,.5);

}

.jumbotron {
    width: 100%;
    height: auto;

}
/*This component should be hidden for devices with small screens*/
h1 {
    text-align: center;
}
